@import 'custom-palettes';
@import 'variables';

.header {
  display: flex;
  flex-direction: column;
  &__top {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
  &__bottom {
    color: $white;
    min-height: 2.75rem;
    margin-left: -1.5rem;
    & > div {
      display: flex;
      justify-content: center;
    }
    img {
      width: 1rem;
      height: auto;
      margin-right: 0.5rem;
    }
  }
  .back {
    height: 2rem;
    flex: 4.6875rem;
    flex-shrink: 0;
    button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: transparent;
      height: 100%;
      width: 100%;
      position: relative;
      left: -1.8rem;
      border: none;
      padding-bottom: 0;
      cursor: pointer;
      overflow: hidden;
      img {
        transform: rotate(180deg);
      }
    }
  }
}

.logo {
  flex: auto;
  flex-shrink: 0;
  a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  img {
    width: 7.625rem;
    height: auto;
  }
}

.avatar {
  flex: 4.6875rem;
  flex-shrink: 0;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 3rem;
    transform: scaleX(-1);
  }
}

.profile-header {
  .header {
    &__bottom {
      color: mat-color($primary);
    }
  }
}
