<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="outline" [floatLabel]="'never'" class="w-100">
      <input
        matInput
        type="password"
        placeholder="Make it strong!"
        formControlName="password"
        [ngClass]="{ 'input-error': formSubmitAttempt && password?.untouched }"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        <app-input-error label="Password is a required field."></app-input-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [floatLabel]="'never'" class="w-100">
      <input
        matInput
        type="password"
        placeholder="And once again..."
        formControlName="confirm_password"
        [ngClass]="{ 'input-error': formSubmitAttempt && confirmPassword?.untouched }"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        <app-input-error label="Confirm password is a required field."></app-input-error>
      </mat-error>
      <mat-error *ngIf="password?.errors?.['minlength']">
        <app-input-error
          label="Ooops! That password is too weak. Password must be at least 9 symbols long."
        ></app-input-error>
      </mat-error>
      <mat-error *ngIf="confirmPassword?.errors?.['matching'] && !password?.errors?.['minlength']">
        <app-input-error label="Ooops! Your passwords don't match. Try it again, please."></app-input-error>
      </mat-error>
      <mat-error *ngIf="confirmPassword?.errors?.['passwordInvalid']">
        <app-input-error label="Ooops! Your passwords are not valid."></app-input-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-flat-button color="primary" class="with-icon">Continue</button>
  </div>
</form>
