form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & > div {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }
}

.mat-form-field {
  &:not(:last-of-type) {
    margin-bottom: 0.85rem;
  }
}
