<div class="edit-profile-form-wrapper">
  <form [formGroup]="profileEditForm">
    <div *ngFor="let field of fields; let i = index">
      <app-edit-profile-field
        [field]="field"
        [form]="profileEditForm"
        (handleDelete)="onDelete(i)"
        (handleSave)="onSave({ key: field.key, value: field.value })"
        (handleClear)="onClear($event)"
      ></app-edit-profile-field>
    </div>
  </form>
  <p class="edit-profile-empty" *ngIf="!fields?.length">
    <mat-icon color="warn">info</mat-icon>
    <span>There are no fields to edit!</span>
  </p>
</div>
